.favorites-container{
    height: fit-content;
    background-color: #78B3CE;
    color: white;
    padding-top: 7svh;
    padding-bottom: 10svh;
    
}
.favorites-container h2{
    text-align: center;
}