.store-container{
    padding-top: 6vh;
    padding-bottom: 20svh;
    height: fit-content;
    background-color: #78B3CE;
}
.store-header{
    display: flex;
    justify-content: center;
}
.store-sign{
    font-family: 'Black Ops One', Arial;
    color: white;
    filter: drop-shadow(2px 2px 3px);
}
.search-bar-container{
    display: flex;
    justify-content: center;
}
.car-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 10%;
    padding: 5% 10% 0% 10%;
    color: white;
    background-color: inherit;   
}
.added-car{
    display: flex;
    gap: 10%;
    padding: 3%;
}
.car-image{
    display: flex;
    align-items: center;
}
.car-image img{
    width: 13svw;
}
.car-details{
    width: 100%;
    display: grid;
    gap: 20px;
}
.NameNPrice p{
    padding-bottom: 10px;
    border-bottom: white solid 1px ;
}
/* From Uiverse.io by TISEPSE */ 
.view-more-btn a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.view-more-btn a::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.view-more-btn a:hover::before {
  transform: scaleY(0);
}

.view-more-btn a::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.view-more-btn a:hover::after {
  transform: scaleX(0);
}

.view-more-btn a span {
  position: relative;
  z-index: 3;
}

.view-more-btn {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;
}
.add-to-fav-button{
    display: flex; 
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    height: 40px;
    width: 40px;
    
}
.add-to-fav-button img{
    height: 20px;
    width: 20px;
}
.add-car{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: black;
    margin-bottom: 10%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.add-icon{
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    transition: 1.8s;
}
.add-icon:hover{
    transform: rotate(360deg);
    filter: drop-shadow(0px 0px 15px rgb(25, 155, 255));
}
.car-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up{
    position: fixed;
    height: 70%;
    width: 40%;
    top: 20%;
    left: 30%;
    z-index: 100;
    background-color: white;
    color: black;
    border-radius: 20px;
}
.pop-up-header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.close-button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-family: Arial;
    font-weight: 1000;
    transition: 2s;
    border: none;
}
.close-button:hover{
    filter: drop-shadow(0px 0px 5px rgb(108, 27, 27));
}
.form-container{
    display: flex;
    justify-content: center;
}
.form-container h1 {
    text-align: center;
     font-family: 'Black Ops One', Arial;
}
.Form{
    display: grid;
    width: 90%;
    gap: 2%;
    padding: 0px 25px 0px 25px ;
}
.Form textarea,
.Form input{
    height: 40px;
    width: 100%;
    padding: 2%;
}

@media screen and (max-width: 767px){
    .car-container{
        grid-template-columns: 1fr;
    }
}