@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:wght@400;600&family=Oswald:wght@400;600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', Arial;
}
header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:end;
  background-color: rgb(29, 29, 29);
  left: 0;
  right: 0;
  top: 0;
  height: 4.2rem;
  padding: 0px 20px 0px 20px;
  z-index: 999;
  box-shadow: -0.5em .70em 1.5em rgb(46, 46, 46);
}
.right-side{
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 1fr ;
  gap: 30px;
}
.right-side a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-bottom: 2px  solid;
  transition: border-bottom-color 0.3s;
  border-bottom-color: rgb(29, 29, 29) ;
}
.right-side a:hover{
  border-bottom-color: white;
}
.user-info-container{
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.user-photo{
  width: 28px;
  cursor: pointer;
  height: 28px;
  border-radius: 14px;
}
.user-name{
  cursor: pointer;
  margin: 0px;

}

@media screen and (max-width: 767px){
    .user-name{
       font-size: 2.5svw;
    }
}
